# **Final Project Task 1 - Census Data Preprocess**

Requirements

- Target variable specification:
    - The target variable for this project is hours-per-week. 
    - Ensure all preprocessing steps are designed to support regression analysis on this target variable.
- Encode data  **3p**
- Handle missing values if any **1p**
- Correct errors, inconsistencies, remove duplicates if any **1p**
- Outlier detection and treatment if any **1p**
- Normalization / Standardization if necesarry **1p**
- Feature engineering **3p**
- Train test split, save it.
- Others?


Deliverable:

- Notebook code with no errors.
- Preprocessed data as csv.

In [9]:
import pandas as pd

In [10]:
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
columns = [
    "age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
    "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss",
    "hours-per-week", "native-country", "income"
]

data = pd.read_csv(data_url, header=None, names=columns, na_values=" ?", skipinitialspace=True)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
data.isnull().sum()
data = data.drop_duplicates()

data_encoded = pd.get_dummies(data, drop_first= True)

Eliminate observatiile duplicate si variabilele categorice au fost transformate in variabile numerice

In [12]:
Q1 = data_encoded["age"].quantile(0.25)
Q3 = data_encoded["age"].quantile(0.75)
IQR = Q3 - Q1

data_encoded = data_encoded[
    (data_encoded["age"] >= Q1 - 1.5 * IQR) &
    (data_encoded["age"] <= Q3 + 1.5 * IQR)
]

Outlieri identificati si eliminati

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

numeric_cols = ["age", "fnlwgt", "capital-gain", "capital-loss", "hours-per-week"]

data_encoded[numeric_cols] = scaler.fit_transform(data_encoded[numeric_cols])

Variabile numerice standardizate pentru a asigura aceeasi scala si pentru a imbunatati performanta

In [14]:
data_encoded["income_binary"] = data_encoded["income_>50K"]
data_encoded = data_encoded.drop(columns=["income_>50K"])

Variabila tinta binara creata

In [15]:
from sklearn.model_selection import train_test_split

X = data_encoded.drop(columns=["income_binary"])
y = data_encoded["income_binary"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

Set antrenare si testare pentru utilizare in task-urile urmatoare

In [16]:
X_train.to_csv("X_train.csv", index=False)
X_test.to_csv("X_test.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
y_test.to_csv("y_test.csv", index=False)